<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">About</a></li>
			<li><a href="/research">Research</a></li>
	        	<li><a href="/pubs">Publications</a></li>
        		<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		<div class="container">

      {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:maurits.meijers@ru.nl">email</a></li>
        		<li><a href="https://www.ru.nl/en/people/meijers-m">Radboud University Nijmegen Website</a></li>
			</ul>
		</footer>
	</body>
</html>
